:root {
    --main-bg-color: black;
    --main-txt-color: white; 
    --main-font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 1100px;
    margin: 0 auto;
  }
  
  .top{
    background-color: var(--main-bg-color);
    height: 670px;
  }
  
  .header{
    height: 120px;
    justify-content: center;
    font-family: var(--main-font-family);;
  }
  
  nav {
    display: flex;
    height: 120px;
    align-items: center;
  }
  
  .logo {
    width: 12%;
    color: var(--main-txt-color);;
    margin-right: 50px;
    font-family: var(--main-font-family);
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    width: 88%;
    justify-content: space-between;
  }
  
  .nav-links button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: var(--main-txt-color);
    border-style: none;
    margin-left: 70px;
    background-color: grey;
  }
  
  .nav-links li {
    list-style-type: none;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--main-txt-color);
    font-family: var(--main-font-family);
  }

  .overlap{
      height: 700px;
      background-color: var(--main-txt-color);
      margin: auto;
      border-radius: 40px;
      box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  }
  .front-left {
    width: 400px;
    height: 500px;
    float: left;
    margin-left: 100px;
    margin-top: 80px;
  }     
  .front-left h1{
    font-weight: 600px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: var(--main-font-family);
  }

  .front-left h3{
    margin-bottom: 110px;
    margin-top: 10px;
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
  }

  .front-left p{
    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing: 0.1em;
    text-align: auto;
    margin: 100px auto;
    line-height: 145%;
    font-size: 14pt;
    margin-bottom: 80px;
  }

  .front-left button{
    display: inline;
    padding: 1em 5em;
    margin: 0 0.8em 1.2em 0;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color: #fb5353fb;
    text-align: center;
   }

   .front-right{
    /* background-color: #c00; */
    width: 400px;
    height: 500px;
    float: left;
    margin-left: 90px;
    margin-top: 80px;
  }

  .front-right img{
      height: 500px;
      margin-top: 10px;
  }

  .layer1{
    height: 500px;
    position: relative;
    background-color: thistle;
    margin: auto;
    border-radius: 40px;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    margin-top: 140px;
  }
  
  .layer1 img{
    margin-top: -115px;
    margin-left: 100px;
    width: 500px;
    float: left;
  }

  .about-div {
    position: relative;
    float: right;
    margin-right: 100px;
    margin-top: 2.3%;
  }
  
  .about-div > p {
    font-size: 120px;
    color: lightgray;
    font-weight: bolder;
  }
  
  .about {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -25%);
    font-size: 30px;
  }

  .social_icons{
      float: right;
      padding-bottom: 15px;
      font-size: 2em;
      line-height: 1.8;
      position: absolute;
      top: 7%;
      right: -2%;
  }
  
  .fa {
    padding-right: 5px;
    width: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 5px 65px;
    line-height: 1.2rem;
    }

  .fa:hover {
    opacity: 0.5;
    }

.params_text{
    position: absolute;
    top: 50%;
    font-size: 1em;
    width: 100%; 
    line-height: 2.5;
    font-family: var(--main-font-family);
    padding: 1em 5em;
    margin: 0 0.8em 1.2em 0;
}
        
